<%- include('includes/head.ejs') %>

<% if (addedToCartMessage.length > 0) { %>
<section class="container mx-auto text-center mt-5 px-5 py-4 border-2 border-green-600">
  <h1 class="text-green-600 font-bold text-2xl m-2"><%= addedToCartMessage[0] %>s</h1>
</section>
<% } %>

<section class="container flex justify-center mx-auto my-4 px-2 py-8">
  <div class="grid gap-y-5 gap-x-4 grid-cols-3 w-[100rem] p-6 border-2 overflow-scroll h-[73rem] overflow-x-hidden">
    <% item.forEach(item=>{ %>
    <div class="border text-center">
      <div class="p-2">
        <img src="<%= item.img %>" alt="<%= item.imgAlt %>" class="w-96 h-96 m-2 object-contain" />
      </div>
      <div class="font-mono">
        <div class="font-light my-2">
          <span><%= item.clothesName %></span>
        </div>
        <div class="text-orange-700 font-bold">
          <span>₹<%= item.price %></span>
        </div>
      </div>
      <div class="flex justify-center">
        <a
          href="/<%= url %>/<%= item._id %>"
          class="inline-block m-4 p-2 border-2 rounded-xl font-bold hover:bg-gray-300"
          >view</a>
        <% if(adminName === item.adminName) { %>
          <% item.adminName %>
          <a href="/admin/update/<%= item._id %>?update=true" class="inline-block m-4 p-2 border-2 rounded-xl font-bold hover:bg-yellow-300">Edit</a>
          <a href="/admin/remove/<%= item._id %>?remove=true" class="inline-block m-4 p-2 border-2 rounded-xl font-bold hover:bg-red-600">Remove</a>
        <% } %>
      </div>
    </div>
    <%}); %>
  </div>
</section>

<%- include('includes/footer.ejs') %>

<%- include('includes/end.ejs') %>
